
<style>
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>
<div class="container margin-top">
    <div class="card bg-color" style="width:
        100%;height: 100%;">

        <div class="card-body">
            <div class="tim-title" style="text-align: center;">
                <h3 class="heading">Please Enter Your Company Tax ID</h3>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-7">
                    <div class="form-group" style="display: flex;">
                        <input type="text" [maxLength]="13" class="form-control"
                            placeholder="Tax ID 13 digits"
                            [(ngModel)]="taxCompanyId"
                            (keydown)="keyEnter($event)">
                        <button type="button" name="button" class="close"
                            style="padding-left: 10px;"
                            (click)="searchTaxCompany()">
                            <i class="nc-icon nc-zoom-split"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="loader" *ngIf="hideDiv"></div>
            </div>
            <div class="col-sm-12"*ngIf="data">

                <div class="row d-flex justify-content-center">
                    <div class="col-sm-7">
                        <div class="row col-12 mt-3">
                            <h4> Company Info :</h4>
                        </div>
                        <div class="row col-12 mt-3">
                            <div class="col-sm-5">
                                <h5 style="display: inline;"> Tax ID :</h5>
                            </div>
                            <div class="col-sm-7">
                                <h5 style="display: inline;"> {{data?.nid ||
                                    ""}}</h5>
                            </div>
                        </div>
                        <div class="row col-12 mt-3">
                            <div class="col-sm-5">
                                <h5 style="display: inline;"> Company Name :</h5>
                            </div>
                            <div class="col-sm-7">
                                <h5 style="display: inline;">{{data?.firstName || ""}}</h5>
                            </div>
                        </div>
                        <div class="row col-12 mt-3">
                            <div class="col-sm-5">

                                <h5 style="display: inline;">Company Address
                                    :</h5>
                            </div>
                            <div class="col-sm-7">
                                <h5 style="display: inline;">
                                    {{data?.addressInformation?.addNo || ""}}
                                    {{"ชั้น"+data?.addressInformation?.floorNo
                                    ||
                                    ""}} {{data?.addressInformation?.ampName ||
                                    ""}}
                                    {{data?.addressInformation?.soiName || ""}}
                                    {{data?.addressInformation?.tamName || ""}}
                                    {{data?.addressInformation?.provName || ""}}
                                    {{data?.addressInformation?.postCode || ""}}
                                    {{data?.addressInformation?.telNo || ""}}
                                    </h5>
                            </div>
                        </div>


                        <div class="row d-flex justify-content-center mt-3">
                            <div class="col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input"
                                            type="checkbox"
                                            value=""
                                            [disabled]="!data"
                                            [(ngModel)]="checkboxComplete">
                                        ยืนยันข้อมูลถูกต้อง กดปุ่ม Next
                                        เพื่อไปยังขั้นตอนต่อไป
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="text-align: center;" *ngIf="checkboxComplete">
                            <button type="button" class="btn
                                btn-outline-success"
                                [disabled]="!checkboxComplete"
                                (click)="nextStep()">Next</button>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" *ngIf="(!data
                        ||
                        data.length == 0 ) && actionSearch">
                        ไม่พบข้อมูล
                    </div>

                </div>
            </div>
        </div>